:root {
        --text: #fff;
        --background:#000;
        --button: #381524;
        --button-pressed: #441c2d;
        --button-outline: #fff;
    
        --cursor: url(assets/cursordark.svg) 16 16, auto;
        --cursorhover: url(assets/cselectdark.svg) 16 16, auto;
        --inspect: url(assets/cinspectdark.svg) 16 16, auto;
        --noclicklist: url(assets/noclicklistdark.svg);
        --list: url(assets/listdark.svg) !important;
        --copyright: url(assets/copyrightdark.svg) !important;
}

@font-face {font-family: "Inconsolata"; src: url("assets/font/Inconsolata/inconsolata.ttf"); font-display: swap;}

body {
    margin: 0;
    background-color: var(--background);
    background-image: url(assets/background.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#scrollable {
    height: max-content !important;
}

* {
    cursor: var(--cursor);
    shape-rendering: crispEdges;
}

a:hover{
    cursor: var(--cursorhover) !important;
}

.title {
    padding: 36px;
    color: var(--text);
}

.title:hover span {
    display: none;
}

.title:hover::after {
    cursor: var(--cursorhover);
    color: var(--text);
    content: 'joshua_raffaele_baldassarre';
}

.notfound {
    padding: 36px;
    color: var(--text);
}

.notfound:hover span {
    display: none;
}

.notfound:hover::after {
    cursor: var(--cursor);
    color: var(--text);
    content: '404_not_found';
}

#desktop {
    display: inline-block;
}

#mobile {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color: var(--text);
    margin: 8px 0px;
}

li::marker {
    content: var(--noclicklist);
}

.list {
    cursor: var(--cursorhover) !important;
}

.list::marker {
    content: var(--list);
}

img {
    display: block;
}

.image img {
    margin: 16px 0px;
    z-index: 1;
    cursor: var(--cursorhover);
    min-width: 333px;
    width: 20vw;
    border-radius: 2px;
}

.image::marker {
    content: none !important;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    cursor: var(--cursorhover);
    text-decoration: underline;
}

a img {
    cursor: var(--cursorhover);
    width: 20vw;
    border-radius: 2px;
    margin: 8px;
}

.list img:hover {
    cursor: var(--inspect);
}

.imgcontainer {
    margin: 8px 0px;
    border-radius: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

a:hover > .imgcontainer {
    border-color: var(--button-outline);
    background-color: var(--button);
}

a:active > .imgcontainer {
    background-color: var(--button-pressed);
}

.imgcontainer:hover {
    border-color: var(--button-outline);
}


button {
    font-family: 'Inconsolata', monospace;
    padding: 8px 16px;
    background-color: var(--button);
    color: var(--text);
    border-style: none;
    border-radius: 10px;
}

button:hover {
    cursor: var(--cursorhover);
    text-decoration: underline;
}

button:active {
    background-color: var(--button-pressed);
}

.footer {
    list-style: none;
    color: var(--text);
    padding: 36px;
}

.footer::marker {
    content: var(--copyright);
}

@media screen and (max-aspect-ratio: 3/2) /*3:2*/ {

}

@media screen and (max-aspect-ratio: 1/1) /*box*/ {

}

@media screen and (max-aspect-ratio: 9/15) /*portrait*/ {

}

@media only screen  and (max-device-width: 1000px) and (orientation: portrait) {

    body {
        height: 96vh;
        justify-content: space-evenly;
        width: 100vw;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: inline;
    }

    ul {
        text-align: center;
        list-style: none;
        padding: 0px 24px;
    }

    li::marker {
        content: none;
    }

    .list::marker {
        content: none !important;
    }

    li {
        margin: 32px 0px;
    }

    li img {
        margin: 16px 0px;
        z-index: 1;
        cursor: var(--cursorhover);
        min-width: 72vw;
        width: 72vw;
        border-radius: 10px;
    }
    
    li img:hover {
        z-index: 2;
        transform: scale(1.1);
    }

    button img {
        cursor: var(--cursorhover);
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;  
        margin: 16px 0px 0px 0px;
        transform: scale(1.05) translateY(5px);
        transition: all ease-out 0.1s;
    }

    button {
        padding: 18px 32px;
        width: 100%;
        border-radius: 10px;
        border-width: 1px;
    }

    .gallerybutton {
        padding: 16px 0px 0px 0px;
        width: 100%;
    }

    .footer {
        font-size: 0.9em;
    }

} /* styles for smartphones and tablets in portrait mode */

@media only screen  and (max-device-width: 1000px) and (orientation: landscape) {

} /* styles for smartphones and tablets in landscape mode */
