:root {
    --text: #FFFCEA;
    --background:#000;
    --button: #1f1e1d;
    --button-pressed: #272625;
    --button-outline: #FFFCEA;

    --cursor: url(../assets/cursordark.svg) 16 16, auto;
    --cursorhover: url(../assets/cselectdark.svg) 16 16, auto;
    --noclicklist: url(../assets/noclicklistdark.svg);
    --list: url(../assets/listdark.svg) !important;
    --copyright: url(../assets/copyrightdark.svg) !important;
}