* {
    cursor: url(../assets/cursor.svg) 16 16, auto;
    shape-rendering: crispEdges;
}

a {
    color:#f2edcc;
    text-decoration: none;
}

a:hover {
    cursor: url(../assets/cselect.svg) 16 16, auto;
}

body {
    margin: 0;
}

#center {
    width: 100%;
    display: flex; justify-content: center; align-items: center; height: 100%; position: fixed;
}

#box {
    padding: 0px;
    border-radius: 24px;
    height: 80vh;
    width: 142.4vh;
    background: rgba(31, 30, 30, 0.5);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.22);
}

nav {
    z-index: 5;
}

ul {width: 142.4vh;}

li a {width:142.4vh; text-decoration : none; color : rgba(31, 30, 30, 0.5); transition: .5s ease;user-select: none; font-size: medium;}

li a:hover {text-decoration: underline; cursor: url(../assets/cselect.svg) 16 16, auto;}

li a::after {content: "    →";}

input:hover {
    cursor: url(../assets/cselect.svg) 16 16, auto;
}

nav {width:auto; background: none; margin : 12px 18px;}

span {
user-select: none;
padding : 24px 32px 24px 32px;
color : #f2edcc;
font-size : medium;
text-align: right;
display: block;
border-bottom: 1px solid rgba(242, 237, 204, 0.2);
}

span::before {
float: left;
text-align: left;
content: "⤵";
}

.slide {
border-radius: 0px 0px 8px 8px;
background-color: rgba(31, 30, 30, 0.5);
backdrop-filter: blur(24px);
-webkit-backdrop-filter: blur(24px);
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.22);
clear:both;
width: calc(142.4vh - 68px);
margin: 0 auto;
max-height: 0px;
padding: 0;
padding-left: 32px;
overflow: hidden;
text-align: center;
transition: 0.5s ease;
}

.slide li {padding : 12px 32px 12px 0px; list-style: none; text-align: left;}

#touch {position: absolute; opacity: 0; height: 0px;}  

#touch:checked ~ .slide {max-height: 280px; padding: 18px 0px 18px 32px; background-color: rgba(31, 30, 30, 0.5);}

#touch:checked ~ .slide li a {color:#f2edcc;}

#touch:checked ~ span::before {content: "✕";}

.header {
    font-size: medium;
    color:#f2edcc;
    padding-left: 32px;
}

.header::after {
    content: "    ↓";
}

.bodytext {
    font-size: medium;
    color:#f2edcc;
    padding-left: 32px;
}

.bodytext a{
    text-decoration: underline;
}

#content {
    display: flex;
    align-items:flex-start;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    background-color: transparent;
    z-index: 2;
    overflow-x: scroll;
}

#textbox {
    flex-direction: column;
}

#carousel {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
    padding: 0px 18px;
    width: auto;
    overflow: auto;
    scrollbar-color: rgba(242, 237, 204, 0.5) rgba(242, 237, 204, 0.5);
    scrollbar-width: auto;
}

::-webkit-scrollbar-button {
    background-color: none;
    width: 8px;
}

/* width */
::-webkit-scrollbar {
    height: 8px;
    border-radius: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
    padding: 2px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(242, 237, 204, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #f2edcc00;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(242, 237, 204, 0);
    cursor: url(../assets/cselect.svg) 16 16, auto !important;
    border-color: #f2edccff;
}
.tag {
    color: #f2edcc;
}

.gap {
    height: 50vh;
    padding: 0px 12px;
}

img {
    height: 42.6667vh;
    border-radius: 6px;
    width: 24vh;
    padding: 0;
    margin: 0;
}

.tag::after {content: "    →"; font-size: small; }

.item {
    width: 24vh;
}

#title {
    margin:0 auto;
    padding: 12px 0px;
    font-size: small;
    position: fixed;
    top: 0;
    color: #f2edcc;
    text-align: center;
    width: 100%;
}

#footer {
    padding: 12px 0px;
    font-size: small;
    position: fixed;
    bottom: 0;
    color: #f2edcc;
    text-align: center;
    width: 100%;
}

@media screen and (max-aspect-ratio: 3/2) /*4:3*/ {
    #box {
        border-radius: 24px;
        margin: 0 auto;
        width: 100vh;
        height: 80vh;
    }

    .slide {width: calc(100vh - 68px);}
    
    ul {width: 100vh;}

    li a {width: 100vh;}
}

@media screen and (max-aspect-ratio: 1/1) /*box*/ {
    #box {
        border-radius: 24px;
        margin: 0 auto;
        width: 90vw;
        height: 90vw;
    }

    .slide {width: calc(90vw - 68px);}

    ul {width: 90vw;}

    li a {width: 90vw;}
}

@media screen and (max-aspect-ratio: 9/15) /*portrait*/ {
    #box {
        border-radius: 24px;
        margin: 0 auto;
        width: 90vw;
        height: 160.2vw;
    }
}


@media only screen  and (max-device-width: 1000px) and (orientation: portrait) {
    span {
        user-select: none;
        padding : 24px 48px;
        font-size : 24pt;
        text-align: right;
        display: block;
        border-bottom: 8px;
        }

        li a {
            font-size: 24pt;
        }

        .slide {
            width: calc(90vw - 68px - 24px);
            border-radius: 0px 0px 30px 30px;
            padding-left: 48px;
        }
        
        #touch:checked ~ .slide {max-height: 500px; padding: 36px 0px 36px 48px;}

        .slide li {padding : 24px 48px 24px 0px;}

        #box {
            border-radius: 48px;
            margin: 0 auto;
            width: 90vw;
            height: 160.2vw;
        }
        
        .header {
            font-size: 24pt;
        }

        .tag {
            font-size: 24pt;
        }

        .tag::after {font-size: 24pt; }

        img {
            height: 42.6667vh;
            border-radius: 30px;
            width: 24vh;
            padding: 0;
            margin: 0;
        }

        #title {
            font-size: 18pt;
        }

        .bodytext {
            font-size: 24pt;
        }

        #footer {
            font-size: 18pt;
        }
} /* styles for smartphones and tablets in portrait mode */

@media only screen  and (max-device-width: 1000px) and (orientation: landscape) {

} /* styles for smartphones and tablets in landscape mode */