:root {
    --text: #000;
    --background:#FFFCEA;
    --button: #F9F4DA;
    --button-pressed: #e7e3c9;
    --button-outline: #000;

    --cursor: url(../assets/cursor.svg) 16 16, auto;
    --cursorhover: url(../assets/cselect.svg) 16 16, auto;
    --noclicklist: url(../assets/noclicklist.svg);
    --list: url(../assets/list.svg) !important;
    --copyright: url(../assets/copyright.svg) !important;
}