@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    cursor: url(../assets/cdefault.svg) 16 16, auto;
}

.noclick {
    cursor: url(../assets/cno.svg) 16 16, auto;
}

.select {
    cursor: url(../assets/cselect.svg) 16 16, auto;
}

.text {
    cursor: url(../assets/ctext.svg) 16 16, auto;
}

object {
    pointer-events: none;
}

.noSelect {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.noSelect:focus {outline: none !important;}

::-webkit-scrollbar-button {
    background-color: #000;
}

/* width */
::-webkit-scrollbar {
    width: 0.25rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #000;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

@media screen and (max-aspect-ratio: 2/3) {


    body {
        padding: 0;
        width: 100%;
        margin: 0;
        background: black;
        display: flex;
        justify-content: center;
    }

    a {
        -webkit-tap-highlight-color: transparent !important;
        text-decoration: none;
    }
    
    .footer {
        z-index: 100;
        position: fixed;
        top: 0;
        width: 48vw;
        margin: 64px 0px;
        padding: 32px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(64px);
        -webkit-backdrop-filter: blur(64px);
    }
    
    #header {
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000;
        transform: translate3d(0,0,0);
        transform: translateZ(0);
        bottom: 0;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
        margin: 0 2vw 2vw 2vw;
        padding: 32px 0px;
        display: flex;
        text-align: center;
        position: fixed;
        width: 96vw;
        border-radius: 64px;
        height: auto;
        z-index: 10;
        background-color: rgba(33, 33, 33, 0.8);
        backdrop-filter: blur(64px);
        -webkit-backdrop-filter: blur(64px);
    }
    
    #header span {
        display: none;
    }

    #header a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 96px;
        padding: 2.5vw;
        margin: 0px 32px;
        height: 96px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(0, 0, 0, 0);
        border-radius: 999px;
        transform: scale(1);
    }

    object{
        width: 72px;
        transform: scale(0.75);
        transition: 0.5s;
        transition-timing-function: cubic-bezier(0.000, 0.025, 0.000, 1.005);
    }
    
    #header a:active {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.8) !important;
        transform: scale(1.1);
    }
    
    #headsel {
        background-color: rgba(0, 0, 0, 0.2) !important;
        color: rgba(255, 255, 255, 1);
    }
    
}

@media screen and (min-aspect-ratio: 2/3) {



    body {
        padding: 0;
        width: 100%;
        margin: 0;
        background: black;
        display: flex;
        justify-content: center;
    }

    a {
        text-decoration: none;
    }

    .footer {
        width: 96vw;
        margin: 2vw;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 0.75rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }

    #header {
        justify-content: center;
        margin: 12px 0px 0px 0px;
        display: flex;
        text-align: center;
        position: fixed;
        width: auto;
        height: auto;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        border-radius: 28px;
        transform: scale(0.98);
        transition: 0.5s;
    }

    #header:hover {
        transform: scale(1);
    }

    #header a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        transition-timing-function: cubic-bezier(0.000, 0.025, 0.000, 1.005);
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 8rem;
        padding: 1rem 1.5rem;
        margin: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 0.8rem;
        opacity: 1;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(255, 255, 255, 0);
        border-radius: 16px;
        -webkit-tap-highlight-color: transparent !important;
        background-color: rgba(0, 0, 0, 0.2);
        transform: scale(1);
    }

    object{
        cursor: url(../assets/cselect.svg) 16 16, auto !important;
        width: 18px;
        height: 18px;
        margin: 0px -18px 0px 0px;
        opacity: 0;
        transition: 0.5s;
        transition-timing-function: cubic-bezier(0.000, 0.025, 0.000, 1.005);
        transform: rotate(90deg) scale(0.75);
    }

    #header a:hover {
        opacity: 1;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.1);
    }

    #header a:active {
        transform: scale(0.95);
    }

    #header span {
        padding: 0;
        margin: 0;
    }

    #header a:hover > object {
        transform: rotate(0deg) scale(1);
        margin: 0px 12px 0px 0px;
        opacity: 1;
    }

    #headsel {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 0.4) !important;
    }

    #headsel object {
        transform: rotate(0deg) scale(1);
        margin: 0px 12px 0px 0px;
        opacity: 1;
    }

    #headsel:hover {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }
}